.header {
  border-bottom: 1px solid #dddddd;
  margin-bottom: 15px;
}
.header-menu {
  margin: 5px 0;
}
.header-menu li {
  float: left;
  margin: 0 5px;
}
.header-menu li a {
  color: #717171;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
}
.header-login {
  margin: 5px 0;
}
.header-login li {
  float: left;
  margin: 0 5px;
}
.header-login li a {
  color: #717171;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
}
@media (min-width: 768px) {
  .header-menu {
    float: left;
  }
  .header-login {
    float: right;
  }
}
.header-section {
  margin-bottom: 15px;
}
.banner {
  max-width: 100%;
}
.banner .fake-banner img {
  max-height: 70px;
  max-width: 100%;
}
@media (min-width: 768px) {
  .logo {
    float: left;
    width: 330px;
  }
  .banner {
    float: left;
    width: 630px;
  }
}
