// example cycl
// @for $i from 0 through 100 {
//     @media (min-width: 1200px+($i * 8)) {
//         .title {
//             $size: 120px + ($i );  
//             font-size: $size;
//         }
//     }
// }

// Responsive design media queries
// -Mobile first principle-
@mixin tablet {
    @media (min-width: 768px) {
      @content;
    }
  }
  
  @mixin laptop {
    @media (min-width: 1200px) {
      @content;
    }
  }
  
  @mixin large-laptop {
    @media (min-width: 1750px) {
      @content;
    }
  }
  // -Mobile first principle END-
  
  // ============ end of media queries ==============
  // ============== fonts ==========================
  
  @font-face {
      font-family: "OpenSans";
      src: url("../fonts/OpenSans/OpenSans-Regular.ttf");
  }
  
  @font-face {
      font-family: "OpenSans";
      font-weight: bold;
      src: url("../fonts/OpenSans/OpenSans-Bold.ttf");
  }
  
  @font-face {
      font-family: "OpenSans";
      font-weight: 600;
      src: url("../fonts/OpenSans/OpenSans-SemiBold.ttf");
  }
  @font-face {
    font-family: "OpenSans";
    font-weight: 100;
    src: url("../fonts/OpenSans/OpenSans-Light.ttf");
  }
  
  // @font-face {
  //     font-family: "Helvetica";
  //     font-weight: bold;
  //     src: url("../fonts/helvetica/HelveticaNeueCyr-Bold.otf");
  // }
  
  // @font-face {
  //     font-family: "Helvetica";
  //     src: url("../fonts/helvetica/HelveticaNeueCyr-Light.otf");
  // }
  
  // @font-face {
  //     font-family: "Helvetica";
  //     font-weight: 100;
  //     src: url("../fonts/helvetica/HelveticaNeueCyr-UltraLight.otf");
  // }
  
  // ============== end of fonts =======================
  
input, textarea, button {
    outline: 0 !important;
}

body {
  font-family: "Open Sans", sans-serif;  
  box-sizing: border-box;
  min-width: 320px;
  background-color: #dbdcde;
}

* {
  box-sizing: border-box;
}

button {
  outline: none;
  border: none;
  background-color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.calculator-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .calculator {
    width: 300px;
    height: 400px;
    padding: 25px;
    border-radius: 10px;
    background: linear-gradient(to top, #b6b6b6, #f8f8f8);
    box-shadow: 0 0 30px rgba($color: #353740, $alpha: 0.5);
    @include tablet {      
      width: 400px;
      height: 550px;
    }
    @include laptop {      
      width: 500px;
      height: 650px;
    }
    .screen-container {
      margin-bottom: 30px;
      &.error {
        position: relative;
        &::after {
          content: 'Incorrect expression!';
          position: absolute;
          left: 0;
          top: calc(100% + 10px);
          color: red;
        }
      }
      .screen {
        background-color: #ffcc2f;
        color: #353740;
        border-radius: 3px;
        width: 100%;
        height: 60px;
        line-height: 60px;
        text-align: right;
        letter-spacing: 5px;
        font-weight: bold;
        font-size: 24px;
        border-radius: 10px;
        padding: 0 20px;
        box-shadow: inset 0 0 15px rgba($color: #353740, $alpha: 0.5);
        @include tablet {  
          height: 90px;
          line-height: 90px;
          font-size: 32px;
        }
      }
    }
    .buttons-wrapper {
      margin-top: 10%;
      height: calc(90% - 90px);
      .buttons-container {
        height: 100%;
        .numbers {
          display: inline-block;
          width: 100%;
          height: 100%;
          .line {
            height: 20%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            
            .number-btn,
            .control-btn {
              width: 20%;
              height: 90%;
              cursor: pointer;
              color: #353740;
              background-color: #eeeeee;
              border-radius: 5px;
              box-shadow: 0 0 15px rgba($color: #353740, $alpha: 0.5);
              transition: 0.2s;
              font-size: 24px;
              font-weight: bold;
              &:hover {
                box-shadow: 0 0 10px rgba($color: #353740, $alpha: 0.5);
              }
              &:active {
                box-shadow: 0 0 0 rgba($color: #353740, $alpha: 0.5);
              }
            }
            .control-btn, 
            .power {
              width: 25%;
            }
          }
        }
      }
    }
  }
}