@media only screen and (max-width: 992px) {
    header .header .logo1 img {
        float: none;
    }
    header .header .logo1 {
        text-align: center;
    }
    header .header .menu {
        float: none;
    }
    header .header .menu ul {
        position: relative;
        left: 50%;
        float: left;
        text-align: center;
    }
    header .header .menu ul li {
        position: relative;
        left: -50%;
        float: left;
    }
    header .header .menu a {
        display: block;
    }
    header .logo2 img {
        max-width: 100%;
        margin: 3px;
    }
    .buy-section .buy-button {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 768px) {
    footer .footer-elem {
        padding: 20px 0;
    }
    footer .row div.footer-elem:nth-child(1) {
        width: 50%;
    }
    footer .row div.footer-elem:nth-child(2) {
        width: 50%;
    }
    footer .row div.footer-elem:nth-child(3) {
        width: 33%;
    }
    footer .row div.footer-elem:nth-child(4) {
        width: 33%;
    }
    footer .row div.footer-elem:nth-child(5) {
        width: 33%;
    }
    header .header-content .pow-img div:nth-child(1) {
        top: 10%;
        right: 22%;
    }
    header .header-content .pow-img div:nth-child(2) {
        top: 22%;
        right: 13%;
    }
    header .header-content .pow-img div:nth-child(3) {
        top: 37%;
        right: 7%;
    }
    header .header-content .pow-img div:nth-child(4) {
        top: 51%;
        right: 6%;
    }
    header .header-content .pow-img div:nth-child(5) {
        top: 69%;
        right: 4%;
    }
}

@media only screen and (max-width: 480px) {
    header .header-content .pow-img .pows img {
      width: 37px;
    }
    header .header-content .pow-img div:nth-child(1) {
        top: 10%;
        right: 15%;
    }
    header .header .menu ul li {
        float: none;
    }
    header .header-content h1 {
        font-size: 22px;
    }
    header .header-content .text {
        font-size: 18px;
    }
}

@media only screen and (min-width: 480px) {
    .menu ul li {
        float: left;
    }
}

@media only screen and (min-width: 992px) {
    section.header-article h1 {
        padding-left: 112px;
    }
    header .pow-img div:nth-child(1) {
        top: 25%;
        right: 39%;
    }
}

@media only screen and (min-width: 1200px) {
    .content header, .content section, footer {
        padding-left: 160px;
        padding-right: 160px;
    }
}

@media only screen and (min-width: 1333px) {
    header h1 {
        font-size: 42px;
    }
    header .text {
        font-size: 28px;
    }
    header .header .logo1::after {
        font-size: 28px;
        top: 5px;
    }
    header .header .menu ul li a {
        font-size: 22px;
    }
    .features .text h2 {
        font-size: 36px;
    }
    .features .text p {
        font-size: 22px;
    }
    .buy-section .buy-button a {
        height: 80px;
        line-height: 80px;
        padding: 0 30px;
        color: #000;
        font-size: 28px;
    }
    footer .footer-elem a {
        font-size: 28px;
    }
    footer {
        padding-top: 60px;
    }
    footer .footer-elem a img {
        width: 52px;
    }
    footer .copyright {
        font-size: 24px;
    }
}

@media only screen and (min-width: 1750px) {
    .content header, .content section, footer {
        padding-left: 200px;
        padding-right: 200px;
    }
    header .header {
        padding-bottom: 140px;
    }
    .features .text p {
        font-size: 26px;
    }
    footer {
        padding-top: 120px;
    }
    header .pow-img .pows img {
        width: 70px;
    }
}
