//
// Responsive design media queries
// -Mobile first principle-
@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin large-laptop {
  @media (min-width: 1750px) {
    @content;
  }
}
// ============ end of media queries ==============
// ============== fonts ==========================
@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Regular.ttf");
}
@font-face {
    font-family: "OpenSans";
    font-weight: bold;
    src: url("../fonts/OpenSans-Bold.ttf");
}
// ============== end of fonts =======================

body {
    font-family: "OpenSans";
}

.header {
    position: relative;
    text-align: center;
    height: 178vw;
    overflow: hidden;
    background-image: url(../Export/mobile_header.jpg);
    background-position: top;
    background-size: 100% auto;
    background-repeat: no-repeat;
    @include tablet {
        background-image: none;
        height: 70vw; 
        background-color: #f0cc00;
    }
    .girl-image,
    .candy-stickers-image {
        // transition: transform .5s;
    }

    .girl-image {        
        @include tablet {
            position: absolute;
            top: -1vw;
            background-image: url(../Export/Pretty.jpg);
            background-position: top;
            background-size: 100% auto;
            background-repeat: no-repeat;
            width: 43vw;
            height: 45vw;
            left: 46vw;
            background-image: url(../Export/Pretty.jpg);
            background-position: top;
            background-size: 100% auto;
            background-repeat: no-repeat;
        }
    }
    .header-bottom-image {            
        @include tablet {
            display: inline-block;
            position: absolute;
            right: 6vw;
            bottom: 21vw;
            width: 72vw;
            height: 15vw;
            background-image: url(../Export/Header.png);
            background-position: top;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            z-index: 200;
        }
    }
    .header-part-2 {            
        @include tablet {
            display: inline-block;
            position: absolute;
            width: 100vw;
            right: 0;
            bottom: 0;
            height: 51vw;
            background-image: url(../Export/Header_part_2.jpg);
            background-position: bottom;
            background-size: 100% auto;
            background-repeat: no-repeat;
        }
    }
    .candy-stickers-image {            
        @include tablet {
            display: inline-block;
            position: absolute;
            left: 10vw;
            top: 1vw;
            width: 59vw;
            height: 46vw;
            z-index: 400;
            background-image: url(../Export/Candy.png);
            background-position: left;
            background-size: auto 100%;
            background-repeat: no-repeat;
        }        
    }


    .buttons-container {
        margin: 0 auto;
        width: 180px;
        position: relative;
        top: 117vw;
        z-index: 1000;
        @include tablet {            
            top: 44vw;
            width: 254px;
        }
        .download-btn-container {     
            margin-bottom: 15px;
            .download-btn {
                width: 100%;
                height: 50px;
                border-radius: 25px;
                color: #fff;
                background-color: #ed2f45;
                border: none;
                text-transform: uppercase;
                cursor: pointer;
                font-size: 14px;
                transition: 0.2s;
                @include tablet { 
                    font-size: 18px;
                }
                &:hover {
                    background-color: #f50f2a;
                }
            }
        }
        .presentation-container {
            .presentation {
                text-decoration: underline;
                color: #ed2f45;
                cursor: pointer;
                font-weight: bold;
                transition: 0.2s;
                &:hover {
                    color: #f50f2a;
                }
            }
        }
    }
}

.main-section {
    min-height: 200px;
    margin: 20px 0 20px;
    .description-container {
        text-align: center;
        width: 75vw;
        margin: 0 auto;
        @include tablet {
            width: 53vw;
            max-width: 944px;
        }
        .title {
            color: #383ba9;
            font-size: 28px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        .description {
            color: #aeaeae;
            font-weight: normal;
            margin-bottom: 25px;
            font-size: 18px;
        }
    }
    .laptop-stickers-container {
        @include tablet {
            background-image: url(../Export/stickers.jpg);
            background-position: bottom;
            background-size: 100% auto;
            background-repeat: no-repeat;
            margin: 0 auto;
            width: 72vw;
            height: 59vw;
            margin-bottom: 130px;
        }
    }
    .mobile-stickers-container {
        text-align: center;
        margin-bottom: 55px;
        @include tablet {
            display: none;
        }
        .mobile-stickers-1,
        .mobile-stickers-2,
        .mobile-stickers-3 {            
            background-position: bottom;
            background-size: 100% auto;
            background-repeat: no-repeat;
            width: 90vw;
            height: 234vw;
        }
        .mobile-stickers-1 {
            background-image: url(../Export/mobile_stickers_1.jpg);
        }
        .mobile-stickers-2 {
            background-image: url(../Export/mobile_stickers_2.jpg);
        }
        .mobile-stickers-3 {
            background-image: url(../Export/mobile_stickers_3.jpg);
        }

        &>button {
            display: none;
        }
        .slick-dots {
            display: inline-block;
            margin: 0;
            padding: 0;
            &>li {
                list-style-type: none;
                display: inline-block;
                border-radius: 50%;
                width: 8px;
                height: 8px;
                background-color: #d9d9d9;
                margin-right: 17px;
                &:last-child {
                    margin-right: 0;
                }
                &.slick-active {
                    background-color: #f0cc00;
                }
                &>button {
                    display: none;
                }                
            }
        }
    }
    .taste-it-image-container {
        background-image: url(../Export/mobile_loadit.jpg);
        background-position: bottom;
        background-size: 100% auto;
        background-repeat: no-repeat;
        margin: 0 auto;
        width: 93vw;
        height: 60vw;
        @include tablet {
            max-width: 1000px;
            max-height: 650px;
            background-image: url(../Export/loadit.jpg);
        }
    }
    .download-btn-container {  
        width: 180px;
        margin: 0 auto;       
        @include tablet {
            width: 254px;
        }
        .download-btn {
            width: 100%;
            height: 50px;
            border-radius: 25px;
            color: #fff;
            background-color: #383ba9;
            border: none;
            text-transform: uppercase;
            cursor: pointer;
            font-size: 14px;       
            transition: 0.2s;     
            @include tablet { 
                font-size: 18px;
            }
            &:hover {
                background-color: #fdd805;
            }
        }
    }
}

.footer {
    background-image: url(../Export/bg.jpg);
    background-position: bottom;
    background-size: auto 100%;
    background-repeat: no-repeat;
    height: 600px;
    position: relative;
    @include tablet {
        height: 81vw;
    }
    @include laptop {
        height: 70vw;
    }
    .mobile-phone-image {
        @include tablet {
            background-image: url(../Export/hand.png);
            background-position: left;
            background-size: auto 100%;
            background-repeat: no-repeat;   
            width: 50vw;
            height: 53vw;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
    .send-feedback-form-container {
        padding: 0 10px;
        width: calc(100% - 20px);
        position: absolute;
        top: 145px;
        top: 50%;
        margin-top: calc(-145px);

        @include tablet {
            width: 43vw;
            right: 7vw;
            // top: 20vw;
        }
        @include laptop() {
            width: 35vw;
            // top: 28vw;
            right: 9vw;
        }
        .send-feedback-form-title {
            text-align: center;
            color: #393939;
            margin-bottom: 30px;
            font-size: 22px;
            font-weight: bold;
            @include tablet {                
                font-size: 30px;
            }
            @include laptop {
                font-size: 44px;
            }
        }
        .send-feedback-form {
            &.incorrect-email {
                .email {
                    border: 1px solid #d50d16;
                    color: #d50d16;
                    margin-bottom: 5px;                    
                }
                .incorrect-laptop {
                    @include tablet {
                        display: inline-block;
                        color: #d50d16;
                        margin-left: 25px;
                        margin-bottom: 5px;  
                    }
                }
                .incorrect-mobile {
                    display: inline-block;
                    color: #d50d16;
                    margin-left: 25px;
                    margin-bottom: 5px; 
                    @include tablet {
                        display: none;
                    }
                }
            }
            .name,
            .email,
            .message {
                border: none;
                background-color: #f8e680;
                border-radius: 24px;
                width: calc(100% - 48px);
                padding: 0 24px;
                margin-bottom: 10px;
                color: #525042;
            }
            .name,
            .email {
                height: 48px;
            }
            .incorrect-laptop,
            .incorrect-mobile {
                display: none;
            }
            .message {
                height: 84px;
                resize:none;
                padding: 24px;
            }
            .send-feedback-btn {
                border: none;
                color: #fff;
                width: 180px;
                height: 50px;
                border-radius: 25px;
                background-color: #ed2f45;
                cursor: pointer;
                float: right;
                transition: 0.2s;
                &:hover {
                    background-color: #f50f2a;
                }
                &[disabled] {
                    opacity: 0.5;
                    cursor: auto;
                    &:hover {
                        background-color: #ed2f45;
                    }
                }
                &.sending {
                    width: 50px;
                    .sending {
                        display: inline-block;
                        >span {
                            display: inline-block;
                            width: 5px;
                            height: 5px;
                            border-radius: 50%;
                            margin-right: 1px;
                            background-color: #fff;
                            transition: 0.2s;
                            &:last-child {
                                margin-right: 0;
                            }
                            &.active {
                                transform: translate(0, -7px);
                            }
                        }
                    }
                    .send {
                        display: none;
                    }
                }
                &.sending-error {
                    .send {
                        display: none;
                    }
                    .send-error {
                        display: inline;
                    }
                }
                &.sending-success {
                    background-color: #017de3;
                    &[disabled] {
                        opacity: 1;
                        &:hover {
                            background-color: #017de3;
                        }
                    }
                    .sended {
                        display: inline;
                    }
                    .send {
                        display: none;
                    }
                }
                .sending {
                    display: none;
                }
                .send-error {
                    display: none;
                }
                .sended {
                    display: none;
                }
            }
        }
    }
    .logo {
        display: inline-block;
        background-image: url(../Export/Logo.png);
        background-position: bottom;
        background-size: auto 100%;
        background-repeat: no-repeat;
        width: 86px;
        height: 20px;
        position: absolute;
        margin-left: -43px;
        left: 50vw;
        bottom: 15px;
        @include tablet {
            width: 132px;
            height: 32px;
            margin-left: -66px;
        }
    }
}