<div class="close-btn" ng-click="close()">
    <span class="ico icon-font-1-12"></span>
</div>
<div class="thanks-for-votting-popup">    
    <div class="content">
        <span class="ico icon-font-1-39">
            <span class="ico-in icon-font-1-38"></span>
        </span>
        <br/>
        <span class="one">Thanks for voting!</span>
        <br/>
        <span class="two">
            One more step to           
        </span>
        <br/>
        <span class="three">Make sports great again!</span>
    </div>
</div>