<div class="upload-new-photo-popup-content">
    <div class="close-btn" ng-click="close()">
        <span class="ico icon-font-1-12"></span>
    </div>
    <div class="prev-btn" ng-click="getPrevPhoto()">
        <span class="ico icon-font-1-60"></span>
    </div>
    <div class="next-btn" ng-click="getNextPhoto()">
        <span class="ico icon-font-1-63"></span>
    </div>

    <div class="popup-content-container">
        <div class="photo">
            <img src="[[photo.src]]" alt="">
        </div>
        <div class="photo-info">
            <div class="author">
                <div class="user-img">
                    <img ng-src=[[photo.authorImgUrl]] alt="">
                </div>
                <div class="text">
                    <div class="first-raw">
                        <div class="name">[[photo.author]]</div>
                    </div>
                    <div class="third-raw">
                        <div class="like"><span class="ico" data-ng-class="photo.likesCount ? 'icon-lightning-filled' : 'icon-lightning'"></span><span class="count">[[photo.likesCount]]</span>likes this</div>
                        <div class="date">[[photo.date]]</div>
                    </div>
                </div>
            </div>



            <div class="comments">
                <div class="previous-comments" data-ng-show="photo.comments.length>5">Previous comments [[photo.comments.length - 5]]</div>
                <div class="opened-comments">
                    <div class="comment" data-ng-repeat="comment in photo.comments | limitTo:5">
                        <div class="user-img">
                            <img ng-src=[[comment.authorImgUrl]] alt="" data-ng-show="[[comment.authorImgUrl]]">
                        </div>
                        <div class="text">
                            <div class="first-raw">
                                <div class="name">[[comment.author]]</div>
                                <div class="was-edited" data-ng-show="comment.wasEdited">Edited</div>
                            </div>
                            <div class="second-raw">
                                <span class="comment-content-span">[[comment.content]]</span>
                            </div>
                            <div class="third-raw">
                                <div class="like">
                                    <span class="ico" data-ng-class="comment.likesCount ? 'icon-lightning-filled' : 'icon-lightning'"></span>
                                    <span class="count" data-ng-class="comment.likesCount ? 'liked' : ''">[[comment.likesCount]]</span>
                                </div>
                                <div class="date">[[comment.date]]</div>
                                <div class="reply-word" data-ng-click="vm[$index+comment.replyId] = true">Reply</div>
                                <!--<div class="edit">Edit</div>-->
                            </div>
                        </div>
                        <div class="new-reply" data-ng-show="vm[$index+comment.replyId]">
                            <div class="new-reply-input" contenteditable="true">
                                [[comment.author]], [[ ]]
                            </div>
                            <div class="btns-block">
                                <div class="btn purple filled">Send</div>
                                <div class="btn red" data-ng-click="vm[$index+comment.replyId] = false">Cancel</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="write-comment">
                <div class="write-comment-content"
                     data-ng-show="!vm.writeCommentMode"
                     data-ng-click="vm.writeComment()">
                    <span class="ico icon-font-1-13"></span>
                    <div class="share-input">
                        Write a comment
                    </div>
                </div>
                <div class="new-reply bottom-large" data-ng-show="vm.writeCommentMode">
                    <div class="new-reply-input" contenteditable="true"></div>
                    <div class="btns-block">
                        <div class="btn purple filled" data-ng-click="vm.writeCommentMode=false">Send</div>
                        <div class="btn red" data-ng-click="vm.writeCommentMode=false">Cancel</div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>