
// Layout block sizes
$column-navbar-width: 420px;
//$column-sidebar-width: calc((100% - 420px - 880px) / 2);
$column-content-width: 880px;
$column-content-offset: calc(420px + 16.3%);
$total-width: 1625px;
$transition: 0.2s;