<div class="party-posts-block">
    <div class="chat-content">
        <div class="post" data-ng-repeat="(id, post) in vm.posts">
            <div class="user-img">
                <img data-ng-show="post.authorImgUrl" data-ng-src="[[post.authorImgUrl]]" alt="">
            </div>

            <div class="first-raw">
                <div class="user-info">
                    <div class="name-follow-status">
                        <span class="name">[[post.name]]</span>
                        <span class="i-follow" data-ng-show="post.iFollow">FOLLOW <span class="ico icon-font-1-51"></span></span>
                        <span class="follows-me" data-ng-show="!post.iFollow">FOLLOWING <span class="ico icon-font-1-17"></span></span>
                    </div>
                    <div class="date">[[post.date]] at [[post.time]]</div>
                </div>
            </div>
            <div class="emoji-laptop">
                <div class="emoji">
                    <div class="smile" data-ng-repeat="smile in post.smiles">
                                <span class="description" data-ng-show="vm[id+smile.id]">
                                    <div class="description-title">[[smile.descriptionTitle]]</div>
                                    <div class="first">Lorem: <span class="first-value">[[smile.description1]]</span></div>
                                    <div class="second">Ipsum: <span class="second-value">[[smile.description2]]</span></div>
                                </span>
                        <img ng-src=[[smile.id]] class="em" data-ng-show="$index < 5 || vm.showAllSmiles[id]" data-ng-mouseover="vm[id+smile.id]=true" data-ng-mouseleave="vm[id+smile.id]=false">
                    </div>
                    <div class="more"
                         data-ng-show="post.smiles.length>5 && !vm.showAllSmiles[id]"
                         data-ng-click="vm.showAllSmiles[id]=true">+{{post.smiles.length-5}}</div>
                </div>
            </div>

            <div class="second-raw">
                <div class="post-content"
                    hm-read-more
                    hm-text="[[post.content]]"
                    hm-limit="250"
                    hm-more-text="More"
                    hm-less-text="Less"
                    hm-dots-class="dots"
                    hm-link-class="links"
                    ng-keypress="vm.contentEditingDone($event, post)"
                    contenteditable="[[(post.contentEditing) ? 'true' : 'false']]"
                >
                <!-- 
                    hm-text - full text
                    hm-limit - number > 0 of maximum characters before adding "..." and the more/less text. Default: unlimited
                    hm-more-text - link text for read more. Default: Read more
                    hm-less-text - link text for read less. Default: Read less
                    hm-dots-class - css class for dots
                    hm-link-class - css class for links of read more/read less text
                -->                    
                </div>
            </div>
            <div class="third-raw">
                <div class="like"><span class="ico" data-ng-class="post.likesCount ? 'icon-lightning-filled' : 'icon-lightning'"></span><span class="count">[[post.likesCount]]</span>like this</div>
                <div class="reply" data-ng-click="vm.showReply(id)">Reply</div>
                <div class="edit"
                     data-ng-click="post.contentEditing=!post.contentEditing">Edit</div>
                <div class="emoji-mobile">
                    <div class="emoji">
                        <div class="smile" data-ng-repeat="smile in post.smiles">
                                <span class="description" data-ng-show="vm[id+smile.id]">
                                    <div class="description-title">[[smile.descriptionTitle]]</div>
                                    <div class="first">Lorem: <span class="first-value">[[smile.description1]]</span></div>
                                    <div class="second">Ipsum: <span class="second-value">[[smile.description2]]</span></div>
                                </span>
                            <img 
                                ng-src=[[smile.id]] 
                                class="em" 
                                data-ng-show="$index < 3 || vm.showAllSmiles[id]"
                                data-ng-click="vm.openBadgesPopup(smile, post.smiles)">
                        </div>
                        <div class="more"
                             data-ng-show="post.smiles.length>3 && !vm.showAllSmiles[id]"
                             data-ng-click="vm.openBadgesPopup(post.smiles[3], post.smiles)">
                            +{{post.smiles.length - 3}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="replies" data-ng-show="vm.repliesCount(post.replies)">
                <div class="replies-count">
                    <span class="count">[[vm.repliesCount(post.replies)]]</span>
                    <span class="text">Replies</span>
                </div>
                <div class="reply" data-ng-repeat="reply in post.replies | limitTo:1">
                    <div class="user-img">
                        <img data-ng-show="reply.authorImgUrl" data-ng-src=[[reply.authorImgUrl]] alt="">
                    </div>
                    <div class="raws">
                        <div class="first-raw">
                            <div class="user-info">
                                <span class="name">[[reply.name]]</span>
                                <span class="recipient">[[reply.recipient]]</span>
                                <span class="post-content"
                                      ng-keypress="vm.contentEditingDone($event, reply)"
                                      contenteditable="[[(reply.contentEditing) ? 'true' : 'false']]">
                                    [[reply.content]]
                                </span>
                            </div>
                        </div>                            
                        <div class="third-raw">
                            <div class="like">
                                <span class="ico" data-ng-class="reply.likesCount ? 'icon-lightning-filled' : 'icon-lightning'"></span>
                                <span class="count">[[reply.likesCount]]</span>
                            </div>
                            <div class="date">[[reply.date]] at [[reply.time]]</div>
                            <div class="reply" data-ng-click="vm.showReply(id+reply.replyId)">Reply</div>
                            <div class="edit"
                                 data-ng-click="reply.contentEditing=!reply.contentEditing">
                                Edit
                            </div>
                        </div>
                    </div>
                    <div class="new-reply" data-ng-if="vm.replies[id+reply.replyId]">
                        <div class="new-reply-input"
                             contenteditable="true"
                             data-ng-model="reply.newReply"
                             data-ng-init="reply.newReply=[[reply.name]]+',&nbsp'"
                             set-focus-to-element>
                        </div>
                        <div class="btns-block">
                            <div class="btn red cancel"
                                 data-ng-click="reply.newReply=[[reply.name]]+',&nbsp'; vm.replies[id+reply.replyId] = false">
                                Cancel
                            </div>
                            <div class="btn purple filled send"
                                 data-ng-click="reply.newReply=[[reply.name]]+',&nbsp'; vm.replies[id+reply.replyId] = false">
                                Send
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="write-comment">
                <div class="write-comment-content" data-ng-click="vm.showReply(id)" data-ng-show="!vm.replies[id]">
                    <span class="ico icon-font-1-13"></span>
                    <div class="share-input"> Write a comment</div>
                </div>
                <div class="new-reply" data-ng-if="vm.replies[id]">
                    <div class="new-reply-input large"
                         contenteditable="true"
                         data-ng-model="post.newReply"
                         set-focus-to-element>
                    </div>
                    <div class="btns-block">
                        <div class="btn red cancel"
                             data-ng-click="post.newReply=null; vm.replies[id] = false">
                            Cancel
                        </div>
                        <div class="btn purple filled send"
                             data-ng-click="post.newReply=null; vm.replies[id] = false">
                            Send
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="show-more-block">
        <span class="btn purple filled">Show more</span>
    </div>
</div>