.task-report-block {
  background-color: white;
  .user-img {
    border-radius: 50%;
  }
  img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }

  .page-content {
    background-color: #f6f6f6;
    width: 100%;
    max-width: 773px;
    margin-left: auto;
    margin-right: auto;

    .right-panel {
      padding: 4px 7px;
      width: 100%;
      display: inline-block;
      background-color: #fff;
      vertical-align: top;
      @include tablet {
        padding: 10px;
      }
      .messages-panel {
        height: 426px;
        // general messages style
        .date {
          font-size: 12px;
          color: #aaa8a7;
          text-align: center;
          margin-bottom: 12px;
          @include tablet {
            font-size: 13px;
            margin-bottom: 0;
            font-weight: 600;
          }
        }


        .user-img {
          width: 25px;
          height: 25px;
          display: inline-block;
          vertical-align: top;
          @include tablet {
            width: 35px;
            height: 35px;
          }
        }
        .new-message {
          width: calc(100% - 10px);
          margin-right: 10px;
          .incoming-message, .outgoing-message {
            padding: 13px 0;
            @include tablet {
              padding: 20px 0;
            }
            .message-content {
              display: inline-block;
              @include tablet {
                margin-top: 5px;
              }
              .name {
                font-size: 13px;
                color: #5e3bea;
                font-weight: 700;
                margin-bottom: 10px;
                @include tablet {
                  font-size: 14px;
                  margin-bottom: 15px;
                }
              }
              .message {
                padding: 9px 11px 13px 11px;
                position: relative;
                display: inline-block;
                border-radius: 5px;
                width: fit-content;
                max-width: 230px;
                font-size: 13px;
                font-weight: normal;

                @include tablet {
                  padding: 14px 60px 13px 18px;
                  max-width: 407px;
                  font-size: 14px;
                }
              }
              .time {
                color: #aaa8a7;
                margin-top: 2px;
                font-size: 11px;
                @include tablet {
                  margin-top: 7px;
                  font-size: 13px;
                }
              }
            }
          }
        }
        // general messages style end
        .incoming-message {
          .message-content {
            margin-left: 10px;
            @include tablet {
              margin-left: 15px;
            }
            .message {
              background-color: #f0eefb;
            }
            .message::before {
              content: '';
              position: absolute;
              left: -24px;
              top: 6px;
              border: 15px solid transparent;
              border-right: 20px solid #f0eefb;
              @include tablet {
                left: -26px;
              }
            }
          }
        }

        .outgoing-message {
          width: fit-content;
          margin-left: auto;

          .message-content {
            margin-right: 10px;
            .name {
              width: fit-content;
              margin-left: auto;
            }
            .message {
              background-color: #f4f4f4;
            }
            .message::after {
              content: '';
              position: absolute;
              right: -24px;
              top: 6px;
              border: 15px solid transparent;
              border-left: 20px solid #f4f4f4;
              @include tablet {
                right: -26px;
              }
            }
          }
        }
      }
    }
  }
}

.add-photo-to-report-popup {
  &.ngdialog {
    &.ngdialog-theme-default {
      padding-top: 15%;
      padding-bottom: 20px;
      @include laptop {
        padding-top: 12%;
        padding-bottom: 20px;
      }
    }
        &>.ngdialog-content {
            padding: 4px 10px 33px 10px;
            // margin: 0 auto;
            background-color: #fff;
            display: block;
            min-width: 91%;
            max-width: 91%;
            @include tablet {
              padding: 26px 30px 63px 30px;
              min-width: auto;
              max-width: auto;
              width: 767px;
              min-height: 200px;
            }
            @include large-laptop {
              max-width: 838px;
            }
            .add-photo-popup-content {
              position: relative;              
              text-align: center;
              .close-btn {
                position: absolute;
                top: 0;
                right: 0;
                color: #0d35da;
                cursor: pointer;
                .ico {
                  font-size: 10px;
                  @include tablet {
                    font-size: 18px;
                  }
                }
              }      
              .popup-content-container {
                padding-top: 40px;
                @include tablet {
                  padding-top: 48px;
                }
                .cropArea-wrapper {
                  width: 270px;
                  margin: 0 auto 16px;
                  @include tablet {
                    width: 520px;
                    margin: 0 auto 28px;
                  }
                  .file-name {
                    text-align: left;
                    white-space: nowrap;
                    overflow: hidden;
                    font-weight: 500;
                    .title {
                      color: #7784e5;
                    }
                    .name {
                      color: #6a6766;
                    }
                  }
                  .cropArea {
                    background: #f1f1ef;
                    overflow: hidden; 
                    height: 262px;
                    @include tablet {
                      height: 440px;
                    }                 
                  }
                }
                
                .change-photo-btn-container {
                  text-align: center;
                  .select-photo-button {
                    color: #7784e5;
                    font-size: 13px;
                    font-weight: 600;
                    line-height: 14px;
                    display: inline-block;
                    border-bottom: 1px solid #7784e5;
                    cursor: pointer;
                    @include tablet {                      
                      font-size: 15px;
                      line-height: 16px;
                    }
                    &>input {
                      display: none;
                    }
                  }
                }
                .scale-and-turn-btns {                  
                  margin-top: 8px;
                  text-align: left;
                  @include tablet {                                
                    margin-top: 44px;
                  }
                  @include laptop {                   
                    padding: 0 20px;
                  }
                  @include large-laptop {                   
                    padding: 0 40px;
                  }
                  .btns-container {
                    display: none;
                    @include tablet {
                      display: inline-block;
                    }
                    .btn {
                      margin: 0;
                      padding: 0;
                      width: 100px;
                      height: 40px;
                      font-weight: normal;
                    }
                    .cancel {
                      color: #ef4125;
                      border: 1px solid #ef4125;
                      &:hover {
                        color: #fff;
                        background-color: #ef4125;
                        border: 1px solid #ef4125;
                      }
                    }
                    .save {
                      color: #fff;
                      background-color: #5e3bea;
                      border: 1px solid #5e3bea;
                      margin-right: 17px;
                      &:hover {
                        color: #fff;
                        background-color: #4420d2;
                        border: 1px solid #4420d2;
                      }
                    }
                  }
                  .range-container {
                    display: inline-block;
                    width: 213px;
                    margin-left: 18px;
                    margin-right: -21px;
                    @include tablet {
                      width: 287px;
                      margin-left: 61px;           
                    }
                    &:after {
                      content: '';
                      display: inline-block;
                      height: 100%;
                      vertical-align: middle;
                    }
                    .ico {
                      vertical-align: middle;
                      color: #7e61ee;
                      font-size: 14px;
                      cursor: pointer;
                      @include tablet {
                        font-size: 22px;
                      }
                    }
                    .ico-dec {                      
                      margin-right: 10px;
                    }
                    .ico-add {          
                      margin-left: 10px;
                    }
                    .range-wrapper {
                      position: relative;
                      display: inline-block;
                      // width: calc(100% - 112px);
                      width: 50%;
                      vertical-align: middle;
                      @include tablet {
                        top: -2px;
                        width: 60%;
                      }
                      #photoRange {
                        width: 100%;
                        vertical-align: middle;
                        min-width: 80px;
                        &:focus {
                          outline: none;
                        }
                        &.md-active {
                          .md-slider-wrapper {
                            .md-thumb {                            
                                transform: none !important;
                            }
                          }
                        }

                        .md-slider-wrapper {
                          .md-slider-content {
                            position: relative;
                            top: -3px;
                            .md-track-container {
                              height: 6px;
                              @include tablet {
                                height: 10px;
                              }
                              .md-track {
                                background-color: #e4e6fa;
                                &.md-track-fill {
                                  background-color: #e4e6fa;
                                }
                              }
                            }
                            .md-thumb-container {
                              .md-thumb {
                                width: 9px;
                                height: 9px;
                                top: 22px;                                
                                border-radius: 0;
                                background-color: #7784e5;
                                cursor: pointer;
                                transform: none !important;
                                @include tablet {
                                  width: 16px;
                                  height: 16px;
                                  top: 20px;
                                }
                                &::after {
                                  display: none;
                                }
                              }
                            }
                          }
                        }
                      }
                    }                  
                  }
                  .turn-btns {
                    display: inline-block;
                    position: relative;
                    top: 2px;    
                    @include tablet {
                      float: right;
                      line-height: 48px;
                    }                
                    .ico {
                      color: #7557ed;
                      cursor: pointer;
                      &:first-child {
                        margin-right: 8px;
                        @include tablet {
                          margin-right: 13px;
                        }
                      }
                      @include tablet {
                        font-size: 22px;
                      }
                    }
                  }
                }
                
                .popup-buttons-mobile {
                  text-align: center;
                  margin-top: 25px;
                  @include tablet {
                    display: none;
                  }
                  .btns-container {
                      text-align: center;
                      .btn {                        
                        font-weight: normal;
                        margin: 0;
                        padding: 0;
                        width: 88px;
                        height: 30px;
                      }
                      .cancel {
                          color: #ef4125;
                          border: 1px solid #ef4125;
                          &:hover {
                            color: #fff;
                            background-color: #ef4125;
                            border: 1px solid #ef4125;
                          }
                      }
                      .save {
                          color: #fff;
                          background-color: #5e3bea;
                          border: 1px solid #5e3bea;
                          margin-right: 25px;
                          &:hover {
                            color: #fff;
                            background-color: #4420d2;
                            border: 1px solid #4420d2;
                          }
                      }
                  }
                }
              }
              
              
              &>.ngdialog-close {
                display: none;
              }
            }  
          &>.ngdialog-close {
            display: none;
          }   
      }
    }
}