<div class="user-page-block with-bg">

  <div class="column-navbar" data-simplebar>
    <large-navbar></large-navbar>
  </div>

  <div class="column-sidebar">
    <button class="btn go-back-button"> <span class="ico icon-font-1-60"></span> Go Back</button>
  </div>

  <div class="column-content">
    <!-- Do not change padding-right for following div (class: header-container)!!! -->
    <div class="header-container">
    </div>
    <div class="content-container">
      
      <mobile-menu-switch-panel></mobile-menu-switch-panel>

      <div class="back-button-container">
          <button class="btn go-back-button"><span class="ico icon-font-1-60"></span> Go Back</button>
      </div>
      <user-info data-is-current-user="false"></user-info>

      <div class="share">        
      </div>

      <posts></posts>



    </div>


  </div>

</div>